<% if @bolt_configuration.present? %>
  <table class="index">
    <thead>
      <tr>
        <th><%= SolidusBolt::BoltConfiguration.human_attribute_name(:merchant_public_id) %></th>
        <th><%= SolidusBolt::BoltConfiguration.human_attribute_name(:environment) %></th>
        <th><%= SolidusBolt::BoltConfiguration.human_attribute_name(:created_at) %></th>
        <th><%= SolidusBolt::BoltConfiguration.human_attribute_name(:updated_at) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @bolt_configuration.merchant_public_id %></td>
        <td><%= @bolt_configuration.environment %></td>
        <td>
          <%= @bolt_configuration.created_at.to_s(:long) %>
        </td>
        <td>
          <%= @bolt_configuration.updated_at.to_s(:long) %>
        </td>
        <td class="actions">
          <% if can?(:edit, @bolt_configuration) %>
            <%= link_to edit_btn, edit_admin_bolt_path, class: 'btn btn-primary' %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
<% else %>
  <p> <%= t('spree.admin.bolt.configuration_not_found') %> </p>
<% end %>
